<main id="top">
    <div class="landing-main-body row center-xs middle-xs">
        <div class="landing-main-container">
            <h1>
                Jordan Carroll
            </h1>
            <div class="col-xs-12 center-xs middle-xs">
                <p>
                    Hi, and welcome to my portfolio! Just FYI, this site is still under construction so if you find any bugs, please note that they most likely have already been noted!
                </p>
            </div>
        </div>
    </div>
    <div ng-scroll-class="landing-nav-links-placeholder"></div>
    <div class="landing-nav-links row middle-xs center-xs"
        ng-scroll-class="pin-to-top">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item brand">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="top">
                        Jordan Carroll
                    </a>
                </li>
                <li class="pure-menu-item" >
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="about-me">
                        About Me
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link"
                        scroll-to="mobile-apps">
                        Projects
                    </a>
                </li>
                <li class="pure-menu-item limited-time">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="Contact">
                        Contact Me
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Limited Time Offer -->
    <div class="limited-time-offer row center-xs middle-xs row-no-margin"
        id="about-me">
        <div class="container row center-xs middle-xs">
            <div class="col-md-6 col-xs-12 detail"
                when-visible="$ctrl.fadeIn">
                <h2 class="limited-time-offer-title text-red">
                    Who am I?
                </h2>
                <p class="limited-time-offer-description">
                    I am first and foremost a follower of Christ, my profession is full-stack web development, specializing in front end design and architecture, and my hobbies include fitness, personal finance, and more studying business. To learn more about me, please see my <a href="https://www.linkedin.com/in/jordanacarroll">LinkedIn Profile</a>
                </p>
                <!-- <div class="text-right get-offer-container">
                    <button class="get-offer-btn">
                        GET THIS OFFER
                    </button>
                </div> -->
            </div>
            <div class="col-md-6 col-xs-12">
            <img ng-src="{{$ctrl.headshot}}" class="headshot">
            </div>
        </div>
    </div>
    <!-- Limited Time Offer -->

    <!-- Features -->
    <div class="feature feature-left increase-donations"
        id="increase-donations">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                10,000 Reasons
            </div>
            <div class="information-detail">
                I am currently in the process of developing a website for a church called "10,000 Reasons". 
            </div>
        </div>
        <div class="picture">
        </div>
    </div>
    <!-- Features -->

    <div id="contact"></div>
    <!-- Contact -->
    <div class="contact-form-parent">
        <div class="contact-form-container">
            <div class="center-xs">
                <h2>Contact Me</h2>
            </div>
            <div class="container">
                <form class='contact-form'>
                    <div class="row center-xs ">
                        <div class="form-input col-xs-12">
                            <input class="form-control" placeholder="Name">
                        </div>
                        <div class="form-input col-xs-12">
                            <input class="form-control" placeholder="Email">
                        </div>
                        <div placeholder="Note" class="form-input col-xs-12">
                            <textarea
                                placeholder="Leave me a note..."
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <input class="form-submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <!-- Contact -->
</main>